# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ===============================
# Virtual Environment
# ===============================
myenv/
venv/
.env/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
.vscode/
.idea/

# ===============================
# Playwright
# ===============================
ms-playwright/
playwright-report/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Screenshots (optional)
# ===============================
screenshots/*.png
